<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.empty.mapper.BaseMessageMapper">

  <select id="getMsg" parameterType="int" resultType="messageEntity">
    SELECT * FROM message
    WHERE msg_id = #{msgId}
  </select>

  <select id="getMsgListByUserId" parameterType="int" resultType="messageEntity">
    SELECT * FROM
    `empty_db`.`message`
    WHERE sender_id = #{userId} OR listener_id = #{userId}
    ORDER BY msg_time desc
  </select>

  <insert id="saveNewMsg" parameterType="messageEntity">
    INSERT INTO message
    (
      <if test="msgType != null and msgType != ''">`msg_type`,</if>
      `msg_content`,
      `sender_id`,
      `listener_id`
    ) 
    VALUES
    (
      <if test="msgType != null and msgType != ''"> #{msgType},</if>
      #{msgContent},
      #{senderId},
      #{listenerId}
    )
  </insert>

  <update id="updateMsg" parameterType="messageEntity">
    UPDATE message
    <set>
      `msg_content` = #{msgContent}
    </set>
    WHERE `msg_id` = #{msgId}
  </update>

  <delete id="deleteMsg" parameterType="int">
    DELETE 
    FROM
      `empty_db`.`message` 
    WHERE `msg_id` = #{msgId}
  </delete>
</mapper>
