<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.empty.mapper.BaseVideoMapper">

	<select id="findVideoById" parameterType="int"
		resultType="videoEntity">
		SELECT * FROM video
		WHERE
		video_id =
		#{videoId}
	</select>

	<select id="selectVideos" parameterType="Map"
		resultType="videoEntity">
		SELECT * FROM video
		<where>
			<if test="word != null and word != ''">video_name like "%"#{word}"%"</if>
			<if test="userId != null and userId > 0">AND user_id = #{userId}</if>
		</where>
		<if test="filter != null and filter != '' and filter == 'date'">ORDER BY video_date desc</if>
		<if test="filter != null and filter != '' and filter == 'view'">ORDER BY CAST(video_view_num as decimal) DESC</if>
		<if test="filter != null and filter != '' and filter == 'rate'">ORDER BY CAST(video_favourite_num AS DECIMAL) DESC</if>
	</select>

	<select id="findVideoNum" parameterType="Map" resultType="int">
		SELECT COUNT(video_name) FROM video
		<if test="word != null and word != ''">where video_name like "%"#{word}"%"</if>
	</select>

	<insert id="saveNewVideo" parameterType="videoEntity">

		insert into video
		(
		video_name,
		video_src,
		user_id,
		video_desc,
		video_tag,
		video_thumbnail_img
		)
		values
		(
		#{videoName},
		#{videoSrc},
		#{userId},
		#{videoDesc},
		#{videoTag},
		#{videoThumbnailImg}
		)

	</insert>

	<delete id="deleteVideoById" parameterType="int">

		delete from video
		where
		video_id = #{videoId}

	</delete>

	<update id="updateVideo" parameterType="videoEntity">

		update video
		<set>
			<if test="videoName != null and videoName != ''">video_name = #{videoName},</if>

			<if test="videoDesc != null and videoDesc != ''">video_desc = #{videoDesc},</if>

			<if test="videoTag != null and videoTag != ''">video_tag = #{videoTag},</if>

			<if test="videoViewNum != null and videoViewNum != ''">video_view_num = #{videoViewNum},</if>

			<if test="videoThumbnailImg != null and videoThumbnailImg != ''">video_thumbnail_img = #{videoThumbnailImg},</if>

			<if test="videoBadge != null and videoBadge != ''">video_badge = #{videoBadge},</if>

			<if test="videoLikeNum != null and videoLikeNum != ''">video_like_num = #{videoLikeNum},</if>

			<if test="videoUnlikeNum != null and videoUnlikeNum != ''">video_unlike_num = #{videoUnlikeNum},</if>

			<if test="videoFavouriteNum != null and videoFavouriteNum != ''">video_favourite_num = #{videoFavouriteNum},</if>

			<if test="videoDanmuNum != null and videoDanmuNum != ''">video_danmu_num = #{videoDanmuNum},</if>

			<if test="videoCommentNum != null and videoCommentNum != ''">video_comment_num = #{videoCommentNum}</if>

		</set>

		where
		video_id = #{videoId}


	</update>



</mapper>