<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.empty.mapper.FavMapper">

	<select id="getFavByFavId" parameterType="int"
		resultType="favEntity">
		SELECT * FROM `fav`
		WHERE `fav_id` = #{favId}
	</select>

	<select id="selectFavsByUserId" parameterType="int"
		resultType="favEntity">
		SELECT * FROM `fav`
		WHERE `user_id` = #{userId}
		ORDER BY
		fav_date DESC
	</select>

	<insert id="saveNewFav" parameterType="favEntity">
		INSERT INTO `fav` (
		`fav_name`,
		`fav_list`,
		`user_id`,
		`fav_is_publish`
		)
		VALUES
		(
		#{favName},
		#{favList},
		#{userId},
		#{favIsPublish}
		) ;
	</insert>

	<update id="updateFav" parameterType="favEntity">
		UPDATE `fav`
		<set>
			<if test=" favList != null and favList != ''">`fav_list` = #{favList},</if>
			<if test="favName != null and favName != ''">`fav_name` = #{favName},</if>
			<if test="favIsPublish != null">`fav_is_publish` = #{favIsPublish}</if>
		</set>

		WHERE `fav_id` = #{favId}

	</update>

	<delete id="deleteFav" parameterType="int">
		DELETE
		FROM `fav`
		WHERE `fav_id` = #{favId}
	</delete>

</mapper>