<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- *** 配置平台事物管理器 开始 *** -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- === 配置平台事物管理器 结束 === -->

	<!-- *** 配置事务增强处理Bean,指定事务管理器 start *** -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 传播行为 -->
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />

			<!-- view会改变点击数 -->
			<tx:method name="view*" propagation="REQUIRED" />

			<!-- 注册新用户 -->
			<tx:method name="register*" propagation="REQUIRED" />


			<tx:method name="check*" propagation="SUPPORTS"
				read-only="true" />

			<tx:method name="get*" propagation="SUPPORTS"
				read-only="true" />

			<tx:method name="search*" propagation="SUPPORTS"
				read-only="true" />


		</tx:attributes>
	</tx:advice>
	<!-- === 配置事务增强处理Bean,指定事务管理器 end === -->

	<!-- *** 配置一个切入点 start *** -->
	<aop:config>
		<aop:pointcut
			expression="execution(* com.empty.service..*.*(..))"
			id="servicePointcut" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="servicePointcut" />
	</aop:config>
	<!-- === 配置一个切入点 end === -->

</beans>