<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd 
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
		<property name="maxUploadSize">
			<!-- 上传文件大小限制为31M，31*1024*1024 -->
			<value>32505856</value>
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
	</bean>


	<!-- 配置扫描的包 -->
	<context:component-scan
		base-package="com.empty.controller" />

	<!-- 注册HandlerMapper、HandlerAdapter两个映射类 -->
	<mvc:annotation-driven>
		<mvc:message-converters
			register-defaults="true">
			<bean id="fastJsonHttpMessageConverter"
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>

				<property name="features">
					<list>
						<value>WriteMapNullValue</value>
						<value>QuoteFieldNames</value>
						<value>WriteNullNumberAsZero</value>
						<value>WriteNullStringAsEmpty</value>
						<value>DisableCircularReferenceDetect</value>
					</list>
				</property>
			</bean>

		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 访问静态资源 -->
	<mvc:default-servlet-handler />

	<mvc:interceptors>

		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.empty.controller.interceptor.CorsInterceptor"></bean>
		</mvc:interceptor>

		<mvc:interceptor>
			<mvc:mapping path="/api/comment/write" />
			<mvc:mapping path="/api/video/patchOtherNum" />
			<mvc:mapping path="/api/video/patchTags" />

			<mvc:mapping path="/api/dan/write" />

			<mvc:mapping path="/api/fav/patchFav" />
			<mvc:mapping path="/api/fav/postNewFav" />
			<mvc:mapping path="/api/fav/deleteFav" />

			<mvc:mapping path="/api/history/*" />
			<mvc:mapping path="/api/user/update" />
			<mvc:mapping path="/api/file/*" />
			<bean
				class="com.empty.controller.interceptor.UserTokenInterceptor"></bean>
		</mvc:interceptor>

	</mvc:interceptors>

</beans>