<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>empty video oauth</title>
</head>
<body>
    <div class="container">
        <form class="form-horizontal" role="form" th:action="@{/oauth/code?clientId={a}&secret={b}(a=${clientId},b=${secret})}" th:method="post">
            <div class="form-group">
                <h2>Empty Video OAuth2 Portal</h2>
            </div>
            <div class="form-group">
                <input type="text" name="userEmail" placeholder="your email" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="form-group">
                <input type="password" name="userPassword" placeholder="your password" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="form-group">
                <input type="submit" value="login" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="form-group">
                [[${error}]]
            </div>
        </form>
    </div>
</body>
</html>