<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.empty.dao.BaseDanMapper">
    <select id="selectDanByVideoId" parameterType="int"
            resultType="danEntity">
		SELECT
		*
		FROM
		`dan`
		WHERE video_id
		= #{videoId}
		ORDER BY
		dan_curr_time ASC
	</select>

    <insert id="saveNewDan" parameterType="danEntity">
		INSERT INTO
		`dan` (
		`dan_curr_time`,
		`dan_content`,
		`dan_style`,
		`video_id`,
		`user_id`
		)
		VALUES
		(
		#{danCurrTime},
		#{danContent},
		#{danStyle},
		#{videoId},
		#{userId}
		)
	</insert>

</mapper>